<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781614704351-2e2u44it27oneqghmsc6hf51qjbggm13.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781614704351-2e2u44it27oneqghmsc6hf51qjbggm13</string>
	<key>API_KEY</key>
	<string>AIzaSyBws1Vg5FLIDEJN05-86k7lm5eBPqy2pgY</string>
	<key>GCM_SENDER_ID</key>
	<string>781614704351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myWallet</string>
	<key>PROJECT_ID</key>
	<string>fatxilogin-460b4</string>
	<key>STORAGE_BUCKET</key>
	<string>fatxilogin-460b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781614704351:ios:3c29addfbb5e46b54a2b6a</string>
</dict>
</plist>